#comp-Public-RT-CPAN-About #body {
    margin-left: 12em;
    margin-right: 12em;
}

.ticket-transaction .messagebody {
    /*white-space: pre;*/
    font-family: "Andale Mono", monospace;
    font-size: 0.9em;
}

#rtcpan-explanation, #rtcpan-login {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

@media(max-width: 650px) {
    #rtcpan-explanation, #rtcpan-login {
        width: auto;
        float: none;
    }
}

#login-box {
    width: 90%;
}

#rtcpan-explanation {
    margin-bottom: 3em;
}

.rtcpan-news {
    border: 1px solid #f90;
    background: #ffffa3;
    padding: 0.5em;
}

.dist-list { width: 100%; overflow: hidden; }

.dist-list ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 3em;
    width: 50%;
    float: left;
}

.dist-list ul strong {
    padding-right: 1em;
}

.dist-list ul .dist-actions {
    font-size: 0.9em;
}

tt {
    font-size: 1.2em;
}

#contact-info, #sponsors {
    color: white;
    text-shadow: 1px 1px #444;
    padding: 1em 1em 0 0;
    margin: 0;
    text-align: right;
    font-size: 1.1em;
}

#contact-info a, #sponsors a { color: white }

a { text-decoration: underline; }

#user-prefs-password { display: none }

#page-navigation {
    z-index: 99;
}

.ui-autocomplete-loading {
    background: url(../../static/images/jquery_ui/ui-anim_basic_16x16.gif) right center no-repeat;
}

.select-queue.ui-autocomplete-input {
    padding-right: 20px;  /* don't type under the spinner */
}

#topactions input[name=q], #topactions .select-queue { width: 10em; }
#topactions button, #topactions input[type=submit], #topactions .button { width: auto }
